---
import REFS from '../constants/references.json';
---

<section
  class="m-auto mt-2 flex h-auto max-w-6xl flex-col gap-8 p-2 text-center text-base font-bold text-white sm:text-2xl"
>
  <h2>
    I've worked with some talented folks who have
    <br />
    <a
      class="bg-gradient-to-tr from-teal-600 to-green-400 bg-clip-text text-xl font-extrabold text-transparent transition hover:text-green-400 hover:underline sm:text-4xl"
      href="https://www.linkedin.com/in/johnmmcg/details/recommendations/?detailScreenTabIndex=0"
      target="_blank"
    >
      great things to say about me!
    </a>
  </h2>
  <ul class="flex w-full flex-col items-center justify-center gap-12 p-4">
    {
      REFS.map((item, idx) => (
        <li
          class="js-show-on-scroll flex h-full w-full max-w-2xl flex-col justify-center gap-2 sm:gap-3"
          data-animate-type="motion-safe:animate-fadeIn"
        >
          <div class="relative ml-[40px] mb-[12px] sm:mr-[40px]">
            <p class="text-md rounded-2xl rounded-bl-none bg-blue-900 p-3 text-left font-normal ">
              {item.text}
            </p>
            <div class="position absolute bottom-[-12px] left-0 h-[12px] w-[12px] border-[6px] border-transparent border-l-blue-900 border-t-blue-900" />
          </div>
          <a
            href={item.url}
            target="_blank"
            class="group flex w-full flex-row items-center justify-end gap-2 transition"
          >
            <img
              class="w-[80px] rounded-full"
              width="80px"
              src={item.image_url}
              alt={`Image of ${item.name}`}
              title={`Image of ${item.name}`}
            />
            <p class="flex w-full flex-col text-left font-normal underline group-hover:text-blue-200">
              {item.name}
              <span class="text-sm">
                {item.role} at {item.company}
              </span>
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</section>
